@import url("https://fonts.googleapis.com/css2?family=Bona+Nova&family=Nunito&display=swap");

body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background: black;
  box-sizing: border-box;
}

/* NAVBAR */

.nav {
  background-color: black;
  height: 100px;
}

.navCart {
  position: absolute;
  right: 50px;
  color: black;
}

.modal-body {
  background-color: black;
}

.modal {
  --bs-modal-bg: black;
}

.modal-body > p {
  color: #00fffc;
}

span {
  color: #00fffc;
}

/* MAIN SECTION */

.containeru {
  padding-top: 15px;
  width: 100%;
  background-color: #88d4c3;
}

.grid {
  margin-top: 15px;
  display: grid;
  margin-left: 0.5px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.2em;
  justify-content: center;
}

.box {
  width: 300px;
  height: 100%;
  position: relative;
  margin: auto;
  text-align: center;
}

h1 {
  box-sizing: border-box;
  position: absolute;
  margin: auto;
  width: 100%;
  font-size: 1rem;
  bottom: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.723);
  line-height: 1.5rem;
  color: whitesmoke;
}

.movieTitle {
  font-size: 1.4rem;
  margin: 0;
  font-family: "Nunito", monospace;
}

.box > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.box > button {
  color: black;
  position: absolute;
  right: 0;
}

/* SEARCH & SORT */

.searchAndSort {
  padding-top: 20px;
  padding-left: 36px;
  width: 100%;
  height: 80px;
  display: flex;
}

select {
  height: 2.3rem;
  margin: auto;
  font-size: 1.2rem;
}

.searchBox {
  font-family: "nunito", monospace;
  font-weight: 700;
  display: flex;
  height: 2.3rem;
}

.searchButton {
  font-family: monospace;
  font-size: 1rem;
  margin-right: 40px;
}

.searchBar {
  position: relative;
  width: 100%;
  line-height: 1.5rem;
  font-size: 1.4rem;
  margin: auto;
}

/* FAILED SEARCH ERROR */

.errorDiv {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  background-color: black;
  /* height: 100vh; */
  overflow: auto;
}

.mainC {
  height: 100vh;
  overflow: auto;
}

.errorDiv > h2 {
  margin: 10px auto;
  height: 50px;
  color: #fc00ff;
  text-shadow: 2px 2px #fffc00;
}

.refreshButton {
  top: 300px;
  margin: auto;
  height: 50px;
  width: 10vh;
  background-color: #00fffc;
}

.bg {
  height: 100vh;
  overflow: auto;
  background-color: black;
}

/* CART DESIGN */

.cartBox {
  margin: 15px 12px 0 9px;
  display: grid;
  border: 3px solid rgba(0, 0, 0, 0.76);
  float: right;
  width: 330px;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 54px 55px,
    rgba(0, 0, 0, 0.32) 0px -12px 30px, rgba(0, 0, 0, 0.32) 0px 4px 6px,
    rgba(0, 0, 0, 0.47) 0px 12px 13px, rgba(0, 0, 0, 0.39) 0px -3px 5px;
}

.cartTitle {
  position: relative;
  font-size: 1.2rem;
  margin: auto;
  padding: 15px;
  color: #8bffe6;
}

.cartItem {
  padding: 5px;
  display: flex;
  position: relative;
  border-top: 1px solid #8bffe6;
}

.cartItem > button {
  position: absolute;
  right: 2px;
  margin-top: 2px;
  padding: 9px;
  background-color: red;
  border-radius: 50%;
}

.cartItem > h3 {
  color: #00fffc;
  font-size: 1rem;
  width: 91.5%;
  margin: 9px;
}

.purchaseB {
  display: flex;
  position: relative;
  margin: auto;
  background-color: #00ff46;
  font-size: 1.2rem;
  margin: 20px;
}

.purchaseC {
  margin: auto;
}

.deleteButton {
  color: red;
}

/* LOGO GLITCH EFFECT */

.glitch {
  padding-left: 55px;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
  color: black;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}
