body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-color: black;
  box-sizing: border-box;
}

.containeru {
  width: 100%;
  background-color: #88d4c3;
}

.grid {
  display: grid;
  margin-left: 0.5px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.2em;
  justify-content: center;
}

.box {
  width: 300px;
  height: 100%;
  position: relative;
  margin: auto;
  text-align: center;
}

h1 {
  box-sizing: border-box;
  position: absolute;
  margin: auto;
  width: 100%;
  font-size: 1rem;
  bottom: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.723);
  line-height: 1.5rem;
  color: whitesmoke;
}

.box > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.box > button {
  color: black;
  position: absolute;
  right: 0;
}

form {
  padding: 15px;
}

.searchBar {
  width: 30%;
  line-height: 1.5rem;
  font-size: 1.4rem;
}

h2 {
  color: whitesmoke;
}

.cartBox {
  display: grid;
  border: 3px solid white;
  float: right;
  margin: 5px;
  width: 360px;
  background-color: #8769b6;
}

.cartTitle {
  position: relative;
  font-size: 1.2rem;
  margin: auto;
  padding: 5px;
}

.cartItem {
  display: flex;
  position: relative;
  border-top: 2px dotted white;
}

.cartItem > button {
  position: absolute;
  right: 0;
  padding: 9px;
  color: red;
}

h3 {
  color: white;
  font-size: 1rem;
  width: 91.5%;
  margin: 9px;
}

.purchaseB {
  position: relative;
  margin: auto;
}

/* .cartBox > * {
  color: white;
  margin: 4px auto;
  font-size: 1.2rem;
  padding: 2px;
} */

/* .cartBox > h2 {
  margin: auto;
  color: whitesmoke;
  font-size: 1.1rem;
  padding: 3px;
} */

.deleteButton {
  color: red;
}

/* LOGO GLITCH EFFECT */

.glitch {
  padding-left: 35px;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}

/* MOBILE */
@media only screen and (max-width: 400px) {
  .searchBar {
    width: 80%;
    line-height: 1.5rem;
    font-size: 1.2rem;
  }
  .cartBox {
    display: none;
  }
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.2em;
    justify-content: center;
  }
  .box {
    width: 80%;
  }
}

/* LARGE MOBILE */
@media (min-width: 401px) and (max-width: 600px) {
  .searchBar {
    width: 80%;
    line-height: 1.5rem;
    font-size: 1.2rem;
  }
  .cartBox {
    display: none;
  }
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.2em;
    justify-content: center;
  }
  .box {
    width: 80%;
  }
}

/* TABLET */
@media (min-width: 601px) and (max-width: 1280px) {
  .searchBar {
    width: 80%;
    line-height: 1.5rem;
    font-size: 1.2rem;
  }
  .cartBox {
    display: none;
  }
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.2em;
    justify-content: center;
  }
  .box {
    width: 80%;
  }
}

/* LAPTOP */
@media (min-width: 1281px) and (max-width: 1600px) {
  .searchBar {
    width: 80%;
    line-height: 1.5rem;
    font-size: 1.2rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.2em;
    justify-content: center;
  }
  .box {
    width: 80%;
  }
}
